*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: Arial, sans-serif;
    width: 100%; 
    background-color: #000000;
}
header{
    background-color: #1b1f23;
}
.navbar{
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.847);
    margin-left: 12vw;
    padding: 1vh 0.5vw;
    margin-right: 15vw;
}
.nav-links{
    display: flex;
    gap: 1vw;
    text-align: center;
    padding-left: 12vw;
    gap: 1vw;
    font-size: small;
}
.order-to-row{
    display: flex;
    flex-direction: row;
}
#line1{
    color: #8a8686;
    height: auto;
}
.search-img{
    background: url('photos/icons/search.png') no-repeat 10px center; /* image position */
    background-size: 1.2vw; /* icon size */
    filter: grayscale(100%) invert(50%) ;
    padding: 1vh 2vw;
    margin-left: 1vw;
    width: 20vw;
    border: 1px solid #ccc;
    border-radius: 1.6rem;
    outline: none;
    font-size: 16px;
}
#container{
    
    width: 100%;
    height: 100%;
    padding-top: 2vh; 
    display: flex;
}
#left-container{
    margin-left: 13vw;
}
.profile{
    background-image: url(photos/icons/lortj0v1h4bx9wlwbdx6zs3f.svg);
    background-repeat: no-repeat;
    background-color:#1b1f23;
    width: 15vw;
    height: 15vw;
    border-radius: 1rem;
    display: flex;
    justify-content: left;
}
.dp-img{
    margin: 1.5vw 0vw 0vw 1vw;
}
#username{
    text-align: left;
    text-size-adjust: 20px;
    color: white;
}
#des{
    color: white;
    line-height: 120%;
    margin: 0%;
}
#des1{
    color: white;
    margin: 0%;
    padding: 0%;
    font-weight: 400;
    font-size: small;
}
.item-box{
    background-color: #1b1f23;
    display: inline;
    display: flex;
    flex-direction: column;
    margin-top : 1vh;
    border-radius: 1rem;
    padding: 0.5rem;
}
.color-box{
    background-color: #1b1f23;
}
#saved{
    margin-left: 1vw;  
}
#uper{
    background-color: #1b1f23;
    width: 35vw;
    height: 14vh;
    margin-left: 2vw;
    border-radius: 1rem;
    flex-direction: row;
}

#order1{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
#order2{
    display: flex;
    flex-direction: row;
    gap: 7vw;
    justify-content: center;
    margin-top: 2vh;
}
.stylet{
    text-decoration: none;
    color: white;
    text-decoration-thickness: Bold;
}
.btn{
    background-color: #1b1f2300;
    border: 0px;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
#media{
    height: 100vh;
    width: 35vw;
}
.post{
    width:35vw;
    height: auto;
    margin: 4vh ;
    border-radius: 1rem;
    background-color: #1b1f23;
}
#news{
    background-color: #1b1f23;;
    width: 23vw;
    height: 55vh;
    border-radius: 1rem;
    margin-left: 2rem;
}
.order3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.order5{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.pic{
    padding: 2%;
}
.order4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
    padding: 2%;
}
.img-size{
    width: 30%;
}
.btn2{
    background-color: #1b1f2300;
    border: 0px;
    filter: invert(100%);
    font-size: larger;
}
.btn2:hover{
    background-color: #ccc;
    font-size: 14px;
}
.btn2:hover{
    background-color: #ccc;
    font-size: 14px;
    cursor: pointer;
}
#order2 :hover{
    background-color: #cccccc5c;
    font-size: 14px;
    cursor: pointer;
}
#order3 :hover{
    font-size: 18px;
    cursor: pointer;
}
.nav-links :hover{
    cursor: pointer;
    background-color: #cccccc15;

}
.box{
    padding: 1vh 0 0 1vw;
    color: #ffffff;
    padding: 0.7em;
}

.box :hover{
    background-color: #7b7b7b5c;
    cursor: pointer;
}
.box p{
    font-size: small;
}
.section2{
    color: white;
}
.sec{
    display: flex;
    font-size: small;
    color: #929292;
    gap: 1rem;
    justify-content: center;
    padding: 0.5vh;
    margin-left: 1vw;
}
.sec :hover{
    color: rgb(42, 131, 240);
    text-decoration: underline;
    cursor: pointer;
}
.pf{
    padding: 5% 0 0 18%;
}
